*.log
*.cache
*~
*.o
*.lo
*libs/*.*
config.h
*.status
Makefile
*.exe
dist/*
stamp-h*
libtool
*.dll
*.dylib
*.jnilib
conftest*
confdefs*
Test.java
src*/*/*deps/*

# jars in `./lib/` are vendored in, so do NOT gitignore them
